
material-dashboard-pro-react/.vscode
bangpago/backend/__pycache__
bangpago/backend/migrations/__pycache__
bangpago/bangpago/__pycache__
.DS_Store
package-lock.json
bangpago/backend/recom_sys/__pycache__
